#cachorro {
	background-color: gold;
	width: 8em;
	margin-top: 500px;
	margin-left: 200px;
}

#casa {
	background-color: gold;
	width: 8em;
	position: absolute;
	top: 400px;
	left: 1000px;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
}